<!-- site-primary -->
		<main class="site-primary">

			<!-- heading banner section -->
			<section class="heading-banner-section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- heading banner wrap-->
							<div class="heading-banner-wrap">
								<!-- breadcrumb -->
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="/">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">FAQ</li>
									</ol>
								</nav>
								<!-- page title -->
								<h1>FAQ</h1>

								<!-- heading banner img -->
								<div class="heading-banner-img">
									<img src="/assets/images/heading-banner-img.png" alt="heading banner img">
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!--/ End Hero slider section -->

			<!-- FAQ page section -->
			<section class="faq-page section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- faq list -->
							<div class="faq-list">
								<h3>Delivery Information</h3>
								<!-- accordion -->
								<div class="accordion">
									<!-- accordion list -->
									<div class="accordion-list">
										<!-- accordion title -->
										<h4 class="accordion-title active">Shipping destinations</h4>
										<!-- accordion content -->
										<div class="accordion-content actives">
											<p>For now we ship to the following countries: Austria, Belgium, Czech Republic, Lithuania, Luxembourg, Latvia, Slovakia, Hungary, Bulgaria, Romania, Slovenia, Finland, Denmark, Estonia, Netherlands, Germany, France, Great Britain, Croatia, Ireland, Sweden, Italy, Greece, Spain, Portugal and Poland.</p>
										</div>
									</div>
									<!-- accordion list -->
									<div class="accordion-list">
										<!-- accordion title -->
										<h4 class="accordion-title">Shipping times</h4>
										<!-- accordion content -->
										<div class="accordion-content">
											<p>For now we ship to the following countries: Austria, Belgium, Czech Republic, Lithuania, Luxembourg, Latvia, Slovakia, Hungary, Bulgaria, Romania, Slovenia, Finland, Denmark, Estonia, Netherlands, Germany, France, Great Britain, Croatia, Ireland, Sweden, Italy, Greece, Spain, Portugal and Poland.</p>
										</div>
									</div>
									<!-- accordion list -->
									<div class="accordion-list">
										<!-- accordion title -->
										<h4 class="accordion-title">Tracking your parcel</h4>
										<!-- accordion content -->
										<div class="accordion-content">
											<p>For now we ship to the following countries: Austria, Belgium, Czech Republic, Lithuania, Luxembourg, Latvia, Slovakia, Hungary, Bulgaria, Romania, Slovenia, Finland, Denmark, Estonia, Netherlands, Germany, France, Great Britain, Croatia, Ireland, Sweden, Italy, Greece, Spain, Portugal and Poland.</p>
										</div>
									</div>
								</div>

								<h3>Returns & Refunds</h3>
								<!-- accordion -->
								<div class="accordion">
									<!-- accordion list -->
									<div class="accordion-list">
										<!-- accordion title -->
										<h4 class="accordion-title">How can I return my purchase?</h4>
										<!-- accordion content -->
										<div class="accordion-content">
											<p>For now we ship to the following countries: Austria, Belgium, Czech Republic, Lithuania, Luxembourg, Latvia, Slovakia, Hungary, Bulgaria, Romania, Slovenia, Finland, Denmark, Estonia, Netherlands, Germany, France, Great Britain, Croatia, Ireland, Sweden, Italy, Greece, Spain, Portugal and Poland.</p>
										</div>
									</div>
									<!-- accordion list -->
									<div class="accordion-list">
										<!-- accordion title -->
										<h4 class="accordion-title">Can I cancel my order?</h4>
										<!-- accordion content -->
										<div class="accordion-content">
											<p>For now we ship to the following countries: Austria, Belgium, Czech Republic, Lithuania, Luxembourg, Latvia, Slovakia, Hungary, Bulgaria, Romania, Slovenia, Finland, Denmark, Estonia, Netherlands, Germany, France, Great Britain, Croatia, Ireland, Sweden, Italy, Greece, Spain, Portugal and Poland.</p>
										</div>
									</div>
								</div>

								<h3>How to choose an urn</h3>
								<!-- accordion -->
								<div class="accordion">
									<!-- accordion list -->
									<div class="accordion-list">
										<!-- accordion title -->
										<h4 class="accordion-title">How does shipping work?</h4>
										<!-- accordion content -->
										<div class="accordion-content">
											<p>For now we ship to the following countries: Austria, Belgium, Czech Republic, Lithuania, Luxembourg, Latvia, Slovakia, Hungary, Bulgaria, Romania, Slovenia, Finland, Denmark, Estonia, Netherlands, Germany, France, Great Britain, Croatia, Ireland, Sweden, Italy, Greece, Spain, Portugal and Poland.</p>
										</div>
									</div>
									<!-- accordion list -->
									<div class="accordion-list">
										<!-- accordion title -->
										<h4 class="accordion-title">Should I wash items myself?</h4>
										<!-- accordion content -->
										<div class="accordion-content">
											<p>For now we ship to the following countries: Austria, Belgium, Czech Republic, Lithuania, Luxembourg, Latvia, Slovakia, Hungary, Bulgaria, Romania, Slovenia, Finland, Denmark, Estonia, Netherlands, Germany, France, Great Britain, Croatia, Ireland, Sweden, Italy, Greece, Spain, Portugal and Poland.</p>
										</div>
									</div>
								</div>

							</div>

							<div class="faq-bottom-button">
								<p>Have a question not covered in the FAQ?</p>
								<a href="/contact" class="btn btn-dark">Contact us</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End FAQ page section -->

		</main>
		<!--/ End site-primary -->
