<!-- site-primary -->
		<main class="site-primary">

			<!-- Hero banner section -->
			<section class="hero-banner-section">
				<!-- Hero banner body -->
				<div class="hero-banner-body">
					<!-- container -->
					<div class="container">
						<!-- row -->
						<div class="row align-items-center">
							<!-- column -->
							<div class="col-12 col-md-6">
								<!-- hero banner content -->
								<div class="hero-banner-content">
									<h1>The Purl Coat Cardigan</h1>
									<p>A longer cardigan-coat for cold mornings, cut to sit clean over a knit.</p>
									<a href="/shop" class="btn-link">Shop Now</a>
								</div>
							</div>
							<!-- column -->
							<div class="col-12 col-md-6">
								<!-- Hero banner img -->
								<div class="hero-banner-img">
									<img src="/assets/images/hero-banner-img.png" alt="hero-banner-img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Hero banner section -->

			<!-- Icon box section -->
			<section class="icon-box-section section-all">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12 col-md-4">
							<!-- icon box -->
							<div class="icon-box">
								<div class="iconbox-icon">
									<img src="/assets/images/free-shipping-icon.svg" alt="Free Shipping">
								</div>
								<div class="iconbox-detail">
									<h6>Free Shipping</h6>
									<p>When ordering over $100</p>
								</div>
							</div>
						</div>
						<!-- column -->
						<div class="col-12 col-md-4">
							<!-- icon box -->
							<div class="icon-box">
								<div class="iconbox-icon">
									<img src="/assets/images/easy-return-icon.svg" alt="Easy return">
								</div>
								<div class="iconbox-detail">
									<h6>Easy return</h6>
									<p>Get Return within 30 days</p>
								</div>
							</div>
						</div>
						<!-- column -->
						<div class="col-12 col-md-4">
							<!-- icon box -->
							<div class="icon-box">
								<div class="iconbox-icon">
									<img src="/assets/images/secure-payment-icon.svg" alt="Secure Payment">
								</div>
								<div class="iconbox-detail">
									<h6>Secure Payment</h6>
									<p>100% Secure Online Payment</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Icon box section -->

			<!-- banner adds section -->
			<section class="banner-adds-section section-all">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12 col-md-6 pe-lg-4">
							<!-- banner -->
							<div class="banner">
								<!-- banner content-->
								<div class="banner-content">
									<h4 class="entry-subtitle">New season</h4>
									<h2 class="entry-title">Big patterns are back in fashion</h2>
									<a href="/shop" class="btn link">Shop Now <span class="ti-arrow-right"></span></a>
								</div>
								<!-- banner image-->
								<div class="banner-image">
									<img src="/assets/images/banner-img1.jpg" alt="banner img 1">
								</div>
							</div>
						</div>
						<!-- column -->
						<div class="col-12 col-md-6 ps-lg-4">
							<!-- banner -->
							<div class="banner banner-small">
								<!-- banner content-->
								<div class="banner-content">
									<h4 class="entry-subtitle">New season</h4>
									<h2 class="entry-title">The Latest trend</h2>
									<a href="/shop" class="btn link">Shop Now <span class="ti-arrow-right"></span></a>
								</div>
								<!-- banner image-->
								<div class="banner-image">
									<img src="/assets/images/banner-img2.jpg" alt="banner img 2">
								</div>
							</div>

							<!-- banner -->
							<div class="banner banner-small">
								<!-- banner content-->
								<div class="banner-content">
									<h4 class="entry-subtitle">New season</h4>
									<h2 class="entry-title">Top new collection</h2>
									<a href="/shop" class="btn link">Shop Now <span class="ti-arrow-right"></span></a>
								</div>
								<!-- banner image-->
								<div class="banner-image">
									<img src="/assets/images/banner-img3.jpg" alt="banner img 3">
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!--/ End banner adds section -->

			<!-- Popular Categories section -->
			<section class="popular-categories-section section-all">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- popular categories wrap-->
							<div class="popular-categories-wrap">
								<!-- module header -->
								<div class="module-header">
									<h2 class="entry-title">Popular Categories</h2>
									<div class="entry-header-right">
										<a href="/categories" class="btn link">Shop all categories <span class="ti-arrow-right"></span></a>
									</div>
								</div>

								{{ partial:popular-categories }}
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Popular Categories section -->

			<!-- Trending Collection section -->
			<section class="trending-collection-section section-all">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- module header -->
							<div class="module-header">
								<h2 class="entry-title">Trending Collection</h2>
								<div class="entry-header-right">
									<!-- slider arrow -->
									<div class="slider-arrow">
										<div class="swiper-button-prev"><span class="ti-arrow-left"></span></div>
										<div class="swiper-button-next"><span class="ti-arrow-right"></span></div>
									</div>
								</div>
							</div>

							<!-- Trending Collection slider -->
							<div class="trending-collection-slider">

								<div class="swiper mySwiper">
									<div class="swiper-wrapper">

										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-1">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img8.jpg" alt="products img"></a>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
														<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product in stock -->
													<h6>BACK IN STOCK</h6>
													<h3 class="product-title">
														<a href="/products/leather-winter-coat">The Woven Sweet Dreams P.J. Top</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>{{ 60.00 | clare_money }}</ins></span>
													<!-- product-switcher -->
													<div class="product-switcher">

													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-1">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img7.jpg" alt="products img"></a>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
														<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product in stock -->
													<h6>NEW ARRIVAL</h6>
													<h3 class="product-title">
														<a href="/products/leather-winter-coat">The ReNew Merino Long Liner</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>{{ 22.00 | clare_money }}</ins></span>
													<!-- product-switcher -->
													<div class="product-switcher">

													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-1">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img6.jpg" alt="products img"></a>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
														<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product in stock -->
													<h6>BEST SELLER</h6>
													<h3 class="product-title">
														<a href="/products/leather-winter-coat">The Brushed Flannel Caro Shirt</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>{{ 10.00 | clare_money }}</ins></span>
													<!-- product-switcher -->
													<div class="product-switcher">

													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-1">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img5.jpg" alt="products img"></a>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
														<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product in stock -->
													<h6>BEST SELLER</h6>
													<h3 class="product-title">
														<a href="/products/leather-winter-coat">The Felted Merino Half-Zip Sweater</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>{{ 44.00 | clare_money }}</ins></span>
													<!-- product-switcher -->
													<div class="product-switcher">

													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-1">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img4.jpg" alt="products img"></a>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
														<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product in stock -->
													<h6>BEST SELLER</h6>
													<h3 class="product-title">
														<a href="/products/leather-winter-coat">The Felted Merino Half-Zip Sweater</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>{{ 44.00 | clare_money }}</ins></span>
													<!-- product-switcher -->
													<div class="product-switcher">

													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End  Trending Collection section -->

			<!-- offer banner section -->
			<section class="offer-banner-section section-all">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- offer banner -->
							<div class="offer-banner">
								<!-- offer banner content -->
								<div class="offer-banner-content" style="background-image: url('/assets/images/offer-bg-img.png');">
									<h2>Offer On Point 3 Shoes</h2>
									<p>Buy 2 pairs of Point6 socks and get 1 for free !</p>
									<!-- price -->
									<span class="price"><ins>{{ 99.00 | clare_money }}</ins> <del>{{ 199.00 | clare_money }}</del></span>
									<a href="/products/leather-winter-coat" class="btn btn-light">GET THIS DEAL</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End  offer banner section -->

			<!-- Feature Products section -->
			<section class="feature-products-section section-all">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- module header -->
							<div class="module-header">
								<h2 class="entry-title">Feature Products</h2>
								<div class="entry-header-right">
									<a href="/shop" class="btn link">Shop all <span class="ti-arrow-right"></span></a>
								</div>
							</div>

							<!-- Feature Products grid -->
							<div class="feature-products-grid">
								<!-- Product -->
								<div class="product product-style-1">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img4.jpg" alt="products img"></a>

										<!-- product hover button -->
										<div class="product-hover-button">
											<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
											<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product in stock -->
										<h6>BACK IN STOCK</h6>
										<h3 class="product-title">
											<a href="/products/leather-winter-coat">The Woven Sweet Dreams Party dress</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>{{ 660.00 | clare_money }}</ins></span>
										<!-- product-switcher -->
										<div class="product-switcher">

										</div>
									</div>
								</div>
								<!-- Product -->
								<div class="product product-style-1">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img3.jpg" alt="products img"></a>

										<!-- product hover button -->
										<div class="product-hover-button">
											<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
											<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product in stock -->
										<h6>NEW ARRIVAL</h6>
										<h3 class="product-title">
											<a href="/products/leather-winter-coat">The winter joejoe sweat shirt</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>{{ 12.00 | clare_money }}</ins></span>
										<!-- product-switcher -->
										<div class="product-switcher">

										</div>
									</div>
								</div>
								<!-- Product -->
								<div class="product product-style-1">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img2.jpg" alt="products img"></a>

										<!-- product hover button -->
										<div class="product-hover-button">
											<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
											<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product in stock -->
										<h6>BEST SELLER</h6>
										<h3 class="product-title">
											<a href="/products/leather-winter-coat">Beinge profession coat wear</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>{{ 190.00 | clare_money }}</ins></span>
										<!-- product-switcher -->
										<div class="product-switcher">

										</div>
									</div>
								</div>
								<!-- Product -->
								<div class="product product-style-1">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img1.jpg" alt="products img"></a>

										<!-- product hover button -->
										<div class="product-hover-button">
											<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
											<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product in stock -->
										<h6>BEST SELLER</h6>
										<h3 class="product-title">
											<a href="/products/leather-winter-coat">Fairy flower dress</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>{{ 14.00 | clare_money }}</ins></span>
										<!-- product-switcher -->
										<div class="product-switcher">

										</div>
									</div>
								</div>

								<!-- Product -->
								<div class="product product-style-1">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img11.jpg" alt="products img"></a>

										<!-- product hover button -->
										<div class="product-hover-button">
											<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
											<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product in stock -->
										<h6>BACK IN STOCK</h6>
										<h3 class="product-title">
											<a href="/products/leather-winter-coat">Sport comfy t-shirts in combos</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>{{ 6.00 | clare_money }}</ins></span>
										<!-- product-switcher -->
										<div class="product-switcher">

										</div>
									</div>
								</div>
								<!-- Product -->
								<div class="product product-style-1">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img12.jpg" alt="products img"></a>

										<!-- product hover button -->
										<div class="product-hover-button">
											<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
											<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product in stock -->
										<h6>NEW ARRIVAL</h6>
										<h3 class="product-title">
											<a href="/products/leather-winter-coat">Plain black t-shirt</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>{{ 21.00 | clare_money }}</ins></span>
										<!-- product-switcher -->
										<div class="product-switcher">

										</div>
									</div>
								</div>
								<!-- Product -->
								<div class="product product-style-1">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img10.jpg" alt="products img"></a>

										<!-- product hover button -->
										<div class="product-hover-button">
											<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
											<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product in stock -->
										<h6>BEST SELLER</h6>
										<h3 class="product-title">
											<a href="/products/leather-winter-coat">The Felted Merino Half-Zip Sweater</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>{{ 10.00 | clare_money }}</ins></span>
										<!-- product-switcher -->
										<div class="product-switcher">

										</div>
									</div>
								</div>
								<!-- Product -->
								<div class="product product-style-1">
									<!-- product thumbnail -->
									<div class="product-thumbnail">
										<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/products-img9.jpg" alt="products img"></a>

										<!-- product hover button -->
										<div class="product-hover-button">
											<a href="/products/leather-winter-coat" class="add-to-cart-btn"><span class="ti-shopping-cart"></span></a>
											<a href="/products/leather-winter-coat" class="wishlist-btn"><span class="ti-heart"></span></a>
										</div>
									</div>
									<!-- product content -->
									<div class="product-content">
										<!-- product in stock -->
										<h6>New</h6>
										<h3 class="product-title">
											<a href="/products/leather-winter-coat">The Oversized Alpaca Crew</a>
										</h3>
										<!-- product price -->
										<span class="price"><ins>{{ 24.00 | clare_money }}</ins></span>
										<!-- product-switcher -->
										<div class="product-switcher">

										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Feature Products section -->

			<!-- Weekly best sell section -->
			<section class="weekly-products-section section-all">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- module header -->
							<div class="module-header">
								<h2 class="entry-title">Weekly best sell</h2>
								<div class="entry-header-right">
									<a href="/shop" class="btn link">Shop all <span class="ti-arrow-right"></span></a>
								</div>
							</div>

							<!-- row -->
							<div class="row">
								<!-- column -->
								<div class="col-12 col-md-6 col-lg-4">
									<!-- weekly products -->
									<div class="weekly-products product">
										<!-- weekly products thumbnail -->
										<div class="weekly-products-thumbnail">
											<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/weekly-product-img6.jpg" alt="weekly products img"></a>
										</div>
										<!-- weekly product content -->
										<div class="product-content">
											<h3 class="product-title">
												<a href="/products/leather-winter-coat">Girly fashion coat</a>
											</h3>
											<!-- product price -->
											<span class="price"><ins>{{ 50.00 | clare_money }}</ins></span>
											<!-- product-buttons -->
											<div class="product-buttons">
												<a href="/products/leather-winter-coat" class="btn btn-light add_to_cart_button">
													Add to cart
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-6 col-lg-4">
									<!-- weekly products -->
									<div class="weekly-products product">
										<!-- weekly products thumbnail -->
										<div class="weekly-products-thumbnail">
											<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/weekly-product-img5.jpg" alt="weekly products img"></a>
										</div>
										<!-- weekly product content -->
										<div class="product-content">
											<h3 class="product-title">
												<a href="/products/leather-winter-coat">The alpha waffle top</a>
											</h3>
											<!-- product price -->
											<span class="price"><ins>{{ 660.00 | clare_money }}</ins></span>
											<!-- product-buttons -->
											<div class="product-buttons">
												<a href="/products/leather-winter-coat" class="btn btn-light add_to_cart_button">
													Add to cart
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-6 col-lg-4">
									<!-- weekly products -->
									<div class="weekly-products product">
										<!-- weekly products thumbnail -->
										<div class="weekly-products-thumbnail">
											<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/weekly-product-img4.jpg" alt="weekly products img"></a>
										</div>
										<!-- weekly product content -->
										<div class="product-content">
											<h3 class="product-title">
												<a href="/products/leather-winter-coat">Red carpet dress</a>
											</h3>
											<!-- product price -->
											<span class="price"><ins>{{ 34.00 | clare_money }}</ins></span>
											<!-- product-buttons -->
											<div class="product-buttons">
												<a href="/products/leather-winter-coat" class="btn btn-light add_to_cart_button">
													Add to cart
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-6 col-lg-4">
									<!-- weekly products -->
									<div class="weekly-products product">
										<!-- weekly products thumbnail -->
										<div class="weekly-products-thumbnail">
											<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/weekly-product-img3.jpg" alt="weekly products img"></a>
										</div>
										<!-- weekly product content -->
										<div class="product-content">
											<h3 class="product-title">
												<a href="/products/leather-winter-coat">Floral dress</a>
											</h3>
											<!-- product price -->
											<span class="price"><ins>{{ 24.00 | clare_money }}</ins></span>
											<!-- product-buttons -->
											<div class="product-buttons">
												<a href="/products/leather-winter-coat" class="btn btn-light add_to_cart_button">
													Add to cart
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-6 col-lg-4">
									<!-- weekly products -->
									<div class="weekly-products product">
										<!-- weekly products thumbnail -->
										<div class="weekly-products-thumbnail">
											<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/weekly-product-img2.jpg" alt="weekly products img"></a>
										</div>
										<!-- weekly product content -->
										<div class="product-content">
											<h3 class="product-title">
												<a href="/products/leather-winter-coat">The ReNew Merino par</a>
											</h3>
											<!-- product price -->
											<span class="price"><ins>{{ 45.00 | clare_money }}</ins></span>
											<!-- product-buttons -->
											<div class="product-buttons">
												<a href="/products/leather-winter-coat" class="btn btn-light add_to_cart_button">
													Add to cart
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-6 col-lg-4">
									<!-- weekly products -->
									<div class="weekly-products product">
										<!-- weekly products thumbnail -->
										<div class="weekly-products-thumbnail">
											<a href="/products/leather-winter-coat" class="thumbnail"><img src="/assets/images/weekly-product-img1.jpg" alt="weekly products img"></a>
										</div>
										<!-- weekly product content -->
										<div class="product-content">
											<h3 class="product-title">
												<a href="/products/leather-winter-coat">Oversized sweatshirt</a>
											</h3>
											<!-- product price -->
											<span class="price"><ins>{{ 44.00 | clare_money }}</ins></span>
											<!-- product-buttons -->
											<div class="product-buttons">
												<a href="/products/leather-winter-coat" class="btn btn-light add_to_cart_button">
													Add to cart
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Weekly best sell section -->

			<!-- Newsletter section -->
			<section class="newsletter-section">
				<div class="newsletter-left-img"><img src="/assets/images/discount-img2.png" alt="newsletter img"></div>
				<div class="newsletter-right-img"><img src="/assets/images/discount-img1.png" alt="newsletter img"></div>
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- Newsletter content -->
							<div class="newsletter-content">
								<h2>Get 20% Off Discount Coupon</h2>
								<p>by Subscribe our Newsletter</p>
								<!-- newsletter form -->
								{{ partial:newsletter-form }}
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Weekly best sell section -->

		</main>
		<!--/ End site-primary -->
