<!-- site-primary -->
		<main class="site-primary">

			<!-- Hero slider section -->
			<section class="hero-slider-section">
				<!-- swiper -->
				<div class="swiper mySwiper">
					<!-- swiper wrapper -->
					<div class="swiper-wrapper">
						<!-- swiper slide -->
						<div class="swiper-slide">
							<!-- container -->
							<div class="container">
								<!-- row -->
								<div class="row align-items-center">
									<!-- column -->
									<div class="col-12 col-md-6">
										<!-- hero banner content -->
										<div class="hero-banner-content">
											<h4 class="entry-subtitle">New arrival</h4>
											<h1>Elegant designs for elegance</h1>
											<p>New coats and knits cut for everyday city wear.</p>
											<a href="/shop" class="btn btn-dark btn-style-2">View collection</a>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-md-6">
										<!-- Hero banner img -->
										<div class="hero-banner-img">
											<img src="/assets/images/hero-slider-img1.png" alt="hero-slider-img">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- swiper slide -->
						<div class="swiper-slide">
							<!-- container -->
							<div class="container">
								<!-- row -->
								<div class="row align-items-center">
									<!-- column -->
									<div class="col-12 col-md-6">
										<!-- hero banner content -->
										<div class="hero-banner-content">
											<h4 class="entry-subtitle">New arrival</h4>
											<h1>Merino layers for cold weeks</h1>
											<p>New coats and knits cut for everyday city wear.</p>
											<a href="/shop" class="btn btn-dark btn-style-2">View collection</a>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-md-6">
										<!-- Hero banner img -->
										<div class="hero-banner-img">
											<img src="/assets/images/hero-banner-img.png" alt="hero-banner-img">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- swiper slide -->
						<div class="swiper-slide">
							<!-- container -->
							<div class="container">
								<!-- row -->
								<div class="row align-items-center">
									<!-- column -->
									<div class="col-12 col-md-6">
										<!-- hero banner content -->
										<div class="hero-banner-content">
											<h4 class="entry-subtitle">New season</h4>
											<h1>Shoes that do not shout</h1>
											<p>New coats and knits cut for everyday city wear.</p>
											<a href="/shop" class="btn btn-dark btn-style-2">View collection</a>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-md-6">
										<!-- Hero banner img -->
										<div class="hero-banner-img">
											<img src="/assets/images/hero-banner-img.png" alt="hero-banner-img">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- slider pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</section>
			<!--/ End Hero slider section -->

			<!-- Season Collection section -->
			<section class="season-collection-section section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- module header -->
							<div class="module-header">
								<h2 class="entry-title">Trending Collection</h2>
								<div class="entry-header-right">
									<!-- slider arrow -->
									<div class="slider-arrow no-box-arrow">
										<div class="swiper-button-prev"><span class="ti-arrow-left"></span></div>
										<div class="swiper-button-next"><span class="ti-arrow-right"></span></div>
									</div>
								</div>
							</div>

							<!-- Season Collection slider -->
							<div class="season-collection-slider">

								<!-- swiper -->
								<div class="swiper mySwiper">
									<!-- swiper wrapper -->
									<div class="swiper-wrapper">
										<!-- swiper slide -->
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-2">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/season-product-img1.jpg" alt="season products img"></a>
												</div>
												<!-- product content -->
												<div class="product-content-overlay">
													<!-- overlay title -->
													<div class="product-overlay-title">
														<h3 class="product-title">
															<a href="/products/renew-merino-liner">Dresses</a>
														</h3>
														<span class="items-count">20 items</span>
													</div>
													<div class="product-arrow">
														<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-arrow-right"></span></a>
													</div>
												</div>
											</div>
										</div>
										<!-- swiper slide -->
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-2">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/season-product-img2.jpg" alt="season products img"></a>
												</div>
												<!-- product content -->
												<div class="product-content-overlay">
													<!-- overlay title -->
													<div class="product-overlay-title">
														<h3 class="product-title">
															<a href="/products/renew-merino-liner">Shoes</a>
														</h3>
														<span class="items-count">188 items</span>
													</div>
													<div class="product-arrow">
														<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-arrow-right"></span></a>
													</div>
												</div>
											</div>
										</div>
										<!-- swiper slide -->
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-2">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/season-product-img3.jpg" alt="season products img"></a>
												</div>
												<!-- product content -->
												<div class="product-content-overlay">
													<!-- overlay title -->
													<div class="product-overlay-title">
														<h3 class="product-title">
															<a href="/products/renew-merino-liner">Caps</a>
														</h3>
														<span class="items-count">99 items</span>
													</div>
													<div class="product-arrow">
														<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-arrow-right"></span></a>
													</div>
												</div>
											</div>
										</div>
										<!-- swiper slide -->
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-2">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/season-product-img4.jpg" alt="season products img"></a>
												</div>
												<!-- product content -->
												<div class="product-content-overlay">
													<!-- overlay title -->
													<div class="product-overlay-title">
														<h3 class="product-title">
															<a href="/products/renew-merino-liner">Casual wear</a>
														</h3>
														<span class="items-count">1999 items</span>
													</div>
													<div class="product-arrow">
														<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-arrow-right"></span></a>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Season Collection section -->

			<!-- Best Sellers section -->
			<section class="bestsellers-products-section section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- module header -->
							<div class="module-header">
								<h2 class="entry-title">Best Sellers</h2>
								<div class="entry-header-right">
									<ul class="menu">
										<li class="active"><a href="#">Men</a></li>
										<li><a href="#">Women</a></li>
										<li><a href="#">Blouses & shirts</a></li>
										<li><a href="#">Outerwear</a></li>
									</ul>
								</div>
							</div>

							<!-- Feature Products grid -->
							<div class="bestsellers-products-grid">
								<!-- row -->
								<div class="row">
									<!-- column -->
									<div class="col-12 col-sm-6 col-md-4 col-lg-3">
										<!-- Product -->
										<div class="product product-style-3">
											<!-- product thumbnail -->
											<div class="product-thumbnail">
												<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/best-sellers-img1.jpg" alt="best sellers products img"></a>

												<!-- -->
												<div class="product-badges">
													<span class="badge  onsale">-15%</span>
												</div>

												<!-- product hover button -->
												<div class="product-hover-button">
													<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
												</div>

												<!-- product buttons icon-->
												<div class="product-buttons-icon">
													<a href="#product-quick-popup" class="arrow-icon quick-view-link"><span class="ti-eye"></span></a>
													<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
													<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
												</div>
											</div>
											<!-- product content -->
											<div class="product-content">
												<!-- product tile -->
												<h3 class="product-title">
													<a href="/products/renew-merino-liner">Coastal Linen S/S Shirt</a>
												</h3>
												<!-- product price -->
												<span class="price"><ins>{{ 499.00 | clare_money }}</ins></span>
											</div>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-sm-6 col-md-4 col-lg-3">
										<!-- Product -->
										<div class="product product-style-3">
											<!-- product thumbnail -->
											<div class="product-thumbnail">
												<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/best-sellers-img2.jpg" alt="best sellers products img"></a>

												<!-- -->
												<div class="product-badges">
													<span class="badge  onsale">-15%</span>
												</div>

												<!-- product hover button -->
												<div class="product-hover-button">
													<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
												</div>

												<!-- product buttons icon-->
												<div class="product-buttons-icon">
													<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
													<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
													<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
												</div>
											</div>
											<!-- product content -->
											<div class="product-content">
												<!-- product tile -->
												<h3 class="product-title">
													<a href="/products/renew-merino-liner">Casual cotton t-shirt</a>
												</h3>
												<!-- product price -->
												<span class="price"><ins>{{ 199.00 | clare_money }}</ins></span>
											</div>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-sm-6 col-md-4 col-lg-3">
										<!-- Product -->
										<div class="product product-style-3">
											<!-- product thumbnail -->
											<div class="product-thumbnail">
												<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/best-sellers-img3.jpg" alt="best sellers products img"></a>


												<!-- product hover button -->
												<div class="product-hover-button">
													<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
												</div>

												<!-- product buttons icon-->
												<div class="product-buttons-icon">
													<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
													<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
													<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
												</div>
											</div>
											<!-- product content -->
											<div class="product-content">
												<!-- product tile -->
												<h3 class="product-title">
													<a href="/products/renew-merino-liner">Floral designed dress</a>
												</h3>
												<!-- product price -->
												<span class="price"><ins>{{ 99.00 | clare_money }}</ins></span>
											</div>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-sm-6 col-md-4 col-lg-3">
										<!-- Product -->
										<div class="product product-style-3">
											<!-- product thumbnail -->
											<div class="product-thumbnail">
												<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/best-sellers-img4.jpg" alt="best sellers products img"></a>

												<!-- -->
												<div class="product-badges">
													<span class="badge  onsale">-11%</span>
												</div>

												<!-- product hover button -->
												<div class="product-hover-button">
													<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
												</div>

												<!-- product buttons icon-->
												<div class="product-buttons-icon">
													<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
													<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
													<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
												</div>
											</div>
											<!-- product content -->
											<div class="product-content">
												<!-- product tile -->
												<h3 class="product-title">
													<a href="/products/renew-merino-liner">Crop tops for daily wear</a>
												</h3>
												<!-- product price -->
												<span class="price"><ins>{{ 45.00 | clare_money }}</ins></span>
											</div>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-sm-6 col-md-4 col-lg-3">
										<!-- Product -->
										<div class="product product-style-3">
											<!-- product thumbnail -->
											<div class="product-thumbnail">
												<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/best-sellers-img5.jpg" alt="best sellers products img"></a>

												<!-- product HOT -->
												<div class="product-hot">
													<span class="badge-hot">HOT</span>
												</div>

												<!-- product hover button -->
												<div class="product-hover-button">
													<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
												</div>

												<!-- product buttons icon-->
												<div class="product-buttons-icon">
													<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
													<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
													<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
												</div>
											</div>
											<!-- product content -->
											<div class="product-content">
												<!-- product tile -->
												<h3 class="product-title">
													<a href="/products/renew-merino-liner">Casual sneakers</a>
												</h3>
												<!-- product price -->
												<span class="price"><ins>{{ 699.00 | clare_money }}</ins></span>
											</div>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-sm-6 col-md-4 col-lg-3">
										<!-- Product -->
										<div class="product product-style-3">
											<!-- product thumbnail -->
											<div class="product-thumbnail">
												<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/best-sellers-img6.jpg" alt="best sellers products img"></a>

												<!-- -->
												<div class="product-badges">
													<span class="badge  onsale">-15%</span>
												</div>

												<!-- product hover button -->
												<div class="product-hover-button">
													<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
												</div>

												<!-- product buttons icon-->
												<div class="product-buttons-icon">
													<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
													<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
													<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
												</div>
											</div>
											<!-- product content -->
											<div class="product-content">
												<!-- product tile -->
												<h3 class="product-title">
													<a href="/products/renew-merino-liner">Trendy alansca cotton dress</a>
												</h3>
												<!-- product price -->
												<span class="price"><ins>{{ 105.00 | clare_money }}</ins></span>
											</div>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-sm-6 col-md-4 col-lg-3">
										<!-- Product -->
										<div class="product product-style-3">
											<!-- product thumbnail -->
											<div class="product-thumbnail">
												<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/best-sellers-img7.jpg" alt="best sellers products img"></a>

												<!-- -->
												<div class="product-badges">
													<span class="badge  onsale">-15%</span>
												</div>

												<!-- product hover button -->
												<div class="product-hover-button">
													<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
												</div>

												<!-- product buttons icon-->
												<div class="product-buttons-icon">
													<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
													<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
													<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
												</div>
											</div>
											<!-- product content -->
											<div class="product-content">
												<!-- product tile -->
												<h3 class="product-title">
													<a href="/products/renew-merino-liner">Winter wear outertops</a>
												</h3>
												<!-- product price -->
												<span class="price"><ins>{{ 99.00 | clare_money }}</ins></span>
											</div>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-sm-6 col-md-4 col-lg-3">
										<!-- Product -->
										<div class="product product-style-3">
											<!-- product thumbnail -->
											<div class="product-thumbnail">
												<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/best-sellers-img8.jpg" alt="best sellers products img"></a>

												<!-- -->
												<div class="product-badges">
													<span class="badge  onsale">-15%</span>
												</div>

												<!-- product hover button -->
												<div class="product-hover-button">
													<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
												</div>

												<!-- product buttons icon-->
												<div class="product-buttons-icon">
													<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
													<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
													<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
												</div>
											</div>
											<!-- product content -->
											<div class="product-content">
												<!-- product tile -->
												<h3 class="product-title">
													<a href="/products/renew-merino-liner">Branded  sky jeans</a>
												</h3>
												<!-- product price -->
												<span class="price"><ins>{{ 333.00 | clare_money }}</ins></span>
											</div>
										</div>
									</div>

									<!-- column -->
									<div class="col-12">
										<div class="section-full-btn">
											<a href="/shop/right-sidebar" class="btn btn-dark btn-style-2">Explore more</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Best Sellers section -->

			<!-- image with text section -->
			<section class="image-with-text-section section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- image with text box-->
							<div class="image-with-text-box">
								<!-- row -->
								<div class="row align-items-center">
									<!-- column -->
									<div class="col-12 col-md-6">
										<!-- banner image-->
										<div class="banner-image">
											<img src="/assets/images/sale-event-img.jpg" alt="sale-event img">
										</div>
									</div>
									<!-- column -->
									<div class="col-12  col-md-6">
										<!-- image with text des -->
										<div class="image-with-text-des">
											<h4 class="entry-subtitle">SALE EVENT</h4>
											<h2 class="entry-title">Summer Shirt Limited Offer – $20</h2>
											<p>Until 12/27/21. Use code FESTIVE at checkout</p>
											<a href="/shop/right-sidebar" class="btn btn-dark btn-style-2">Shop now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End image with text  section -->

			<!-- New arrival section -->
			<section class="new-arrival-section section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- module header -->
							<div class="module-header">
								<h2 class="entry-title">New arrival</h2>
								<div class="entry-header-right">
									<a href="/shop/right-sidebar" class="btn btn-dark btn-style-2">Shop all</a>
								</div>
							</div>

							<!-- New arrival slider -->
							<div class="new-arrival-slider">

								<!-- swiper -->
								<div class="swiper mySwiper">
									<!-- swiper wrapper -->
									<div class="swiper-wrapper">
										<!-- swiper slide -->
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-3">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/new-arrival-img1.jpg" alt="new arrival products img"></a>

													<!-- -->
													<div class="product-badges">
														<span class="badge  onsale">-15%</span>
													</div>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
													</div>

													<!-- product buttons icon-->
													<div class="product-buttons-icon">
														<a href="#product-quick-popup" class="arrow-icon quick-view-link"><span class="ti-eye"></span></a>
														<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
														<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product tile -->
													<h3 class="product-title">
														<a href="/products/renew-merino-liner">Stonewashed Utility Jacket</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>{{ 188.00 | clare_money }}</ins></span>
												</div>
											</div>
										</div>
										<!-- swiper slide -->
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-3">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/new-arrival-img2.jpg" alt="new arrival products img"></a>

													<!-- -->
													<div class="product-badges">
														<span class="badge  onsale">-15%</span>
													</div>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
													</div>

													<!-- product buttons icon-->
													<div class="product-buttons-icon">
														<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
														<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
														<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product tile -->
													<h3 class="product-title">
														<a href="/products/renew-merino-liner">Nike Air Max 97 OG</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>{{ 299.00 | clare_money }}</ins></span>
												</div>
											</div>
										</div>
										<!-- swiper slide -->
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-3">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/new-arrival-img3.jpg" alt="new arrival products img"></a>

													<!-- -->
													<div class="product-badges">
														<span class="badge  onsale">-15%</span>
													</div>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
													</div>

													<!-- product buttons icon-->
													<div class="product-buttons-icon">
														<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
														<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
														<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product tile -->
													<h3 class="product-title">
														<a href="/products/renew-merino-liner">Boys white t shirt</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>{{ 99.00 | clare_money }}</ins></span>
												</div>
											</div>
										</div>
										<!-- swiper slide -->
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-3">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/new-arrival-img4.jpg" alt="new arrival products img"></a>

													<!-- -->
													<div class="product-badges">
														<span class="badge  onsale">-15%</span>
													</div>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
													</div>

													<!-- product buttons icon-->
													<div class="product-buttons-icon">
														<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
														<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
														<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product tile -->
													<h3 class="product-title">
														<a href="/products/renew-merino-liner">Stonewashed Utility Jacket</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>{{ 435.00 | clare_money }}</ins></span>
												</div>
											</div>
										</div>
										<!-- swiper slide -->
										<div class="swiper-slide">
											<!-- Product -->
											<div class="product product-style-3">
												<!-- product thumbnail -->
												<div class="product-thumbnail">
													<a href="/products/renew-merino-liner" class="thumbnail"><img src="/assets/images/new-arrival-img3.jpg" alt="new arrival products img"></a>

													<!-- -->
													<div class="product-badges">
														<span class="badge  onsale">-15%</span>
													</div>

													<!-- product hover button -->
													<div class="product-hover-button">
														<a href="/products/renew-merino-liner" class="select-option-btn">Select option</a>
													</div>

													<!-- product buttons icon-->
													<div class="product-buttons-icon">
														<a href="/products/renew-merino-liner" class="arrow-icon"><span class="ti-eye"></span></a>
														<a href="/shop" class="arrow-icon"><span class="ti-shopping-cart"></span></a>
														<a href="/account" class="arrow-icon"><span class="ti-heart"></span></a>
													</div>
												</div>
												<!-- product content -->
												<div class="product-content">
													<!-- product tile -->
													<h3 class="product-title">
														<a href="/products/renew-merino-liner">Boys white t shirt</a>
													</h3>
													<!-- product price -->
													<span class="price"><ins>{{ 99.00 | clare_money }}</ins></span>
												</div>
											</div>
										</div>


									</div>
									<!-- slider arrow -->
									<div class="slider-arrow">
										<div class="swiper-button-prev"><span class="ti-arrow-left"></span></div>
										<div class="swiper-button-next"><span class="ti-arrow-right"></span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End New arrival section -->

			<!-- Testimonial section -->
			<section class="testimonial-section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">

							<!-- New arrival slider -->
							<div class="testimonial-slider">
								<!-- row -->
								<div class="row">
									<!-- column -->
									<div class="col-12 col-md-6 order-2 order-md-1">
										<!-- swiper -->
										<div class="swiper mySwiper2">
											<!-- swiper wrapper -->
											<div class="swiper-wrapper">
												<!-- swiper slide -->
												<div class="swiper-slide">
													<!-- testimonial content -->
													<div class="testimonial-content">
														<h2>Customer’s review</h2>
														<p>I bought the merino liner for travel and now wear it most weeks. It layers under a coat without bulk and still looks tidy on its own in the office.</p>

														<!-- testimonial user info -->
														<div class="testimonial-user-info">
															<div class="testimonial-user-img"><img src="/assets/images/products-img4.jpg" alt="products img"></div>
															<h6 class="testimonial-user-name">Raymon worime</h6>
														</div>
													</div>
												</div>
												<!-- swiper slide -->
												<div class="swiper-slide">
													<!-- testimonial content -->
													<div class="testimonial-content">
														<h2>Customer’s review</h2>
														<p>I bought the merino liner for travel and now wear it most weeks. It layers under a coat without bulk and still looks tidy on its own in the office.</p>

														<!-- testimonial user info -->
														<div class="testimonial-user-info">
															<div class="testimonial-user-img"><img src="/assets/images/products-img4.jpg" alt="products img"></div>
															<h6 class="testimonial-user-name">Raymon worime</h6>
														</div>
													</div>
												</div>

											</div>
											<!-- slider pagination -->
											<div class="swiper-pagination"></div>
										</div>
									</div>
									<!-- column -->
									<div class="col-12 col-md-6 order-1 order-md-2 ps-0 pe-0 ps-md-2 pe-md-2">
										<!-- swiper -->
										<div class="swiper mySwiper testimonial-thumbnail">
											<!-- swiper wrapper -->
											<div class="swiper-wrapper">
												<!-- swiper slide -->
												<div class="swiper-slide">
													<!-- testimonial right image -->
													<div class="testimonial-right-image">
														<img src="/assets/images/testimonial-right-image.jpg" alt="testimonial img">
													</div>
												</div>
												<!-- swiper slide -->
												<div class="swiper-slide">
													<!-- testimonial right image -->
													<div class="testimonial-right-image">
														<img src="/assets/images/sale-event-img.jpg" alt="testimonial img">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Testimonial section -->

			<!-- Icon box section -->
			<section class="icon-box-section style-2 section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-6 col-sm-6 col-md-6 col-lg-3">
							<!-- icon box -->
							<div class="icon-box">
								<div class="iconbox-icon">
									<img src="/assets/images/free-shipping-icon.svg" alt="Free Shipping">
								</div>
								<div class="iconbox-detail">
									<h6>Free Shipping</h6>
									<p>Orders $50 or more</p>
								</div>
							</div>
						</div>
						<!-- column -->
						<div class="col-6 col-sm-6 col-md-6 col-lg-3">
							<!-- icon box -->
							<div class="icon-box">
								<div class="iconbox-icon">
									<img src="/assets/images/easy-return-icon.svg" alt="Easy return">
								</div>
								<div class="iconbox-detail">
									<h6>Free Returns</h6>
									<p>Within 30 days</p>
								</div>
							</div>
						</div>
						<!-- column -->
						<div class="col-6 col-sm-6 col-md-6 col-lg-3">
							<!-- icon box -->
							<div class="icon-box">
								<div class="iconbox-icon">
									<img src="/assets/images/secure-payment-icon.svg" alt="Secure Payment">
								</div>
								<div class="iconbox-detail">
									<h6>Get 20% Off 1 Item</h6>
									<p>When you sign up</p>
								</div>
							</div>
						</div>
						<!-- column -->
						<div class="col-6 col-sm-6 col-md-6 col-lg-3">
							<!-- icon box -->
							<div class="icon-box">
								<div class="iconbox-icon">
									<img src="/assets/images/secure-payment-icon.svg" alt="Secure Payment">
								</div>
								<div class="iconbox-detail">
									<h6>We Support</h6>
									<p>24/7 amazing services</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Icon box section -->

			<!-- Blogs and news section -->
			<section class="blogs-and-news-section section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- module header -->
							<div class="module-header header-style-2">
								<h2 class="entry-title">Blogs and news</h2>
							</div>
						</div>
					</div>

					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12 col-md-4">
							<!-- blog grid-->
							<div class="blog-grid">
								<!-- blog grid image-->
								<div class="blog-grid-image">
									<a href="/blog/quiet-coats-for-city-walks"><img src="/assets/images/blog-img1.jpg" alt="blog img 1"></a>
								</div>
								<!-- blog grid content-->
								<div class="blog-grid-content">
									<h5 class="entry-title"><a href="/blog/quiet-coats-for-city-walks">Quiet coats for city walks</a></h5>
									<h4 class="blog-grid-comments"><span class="comments-count">4</span>Comments  -  20 Jan 2023</h4>
									<p>Short notes on coats, knits, and how to dress for a cold week in the city.</p>
								</div>

							</div>
						</div>
						<!-- column -->
						<div class="col-12 col-md-4">
							<!-- blog grid-->
							<div class="blog-grid">
								<!-- blog grid image-->
								<div class="blog-grid-image">
									<a href="/blog/quiet-coats-for-city-walks"><img src="/assets/images/blog-img2.jpg" alt="blog img 2"></a>
								</div>
								<!-- blog grid content-->
								<div class="blog-grid-content">
									<h5 class="entry-title"><a href="/blog/quiet-coats-for-city-walks">How to layer wool</a></h5>
									<h4 class="blog-grid-comments"><span class="comments-count">0</span>Comments  -  3 Feb 2023</h4>
									<p>Short notes on coats, knits, and how to dress for a cold week in the city.</p>
								</div>

							</div>
						</div>
						<!-- column -->
						<div class="col-12 col-md-4">
							<!-- blog grid-->
							<div class="blog-grid">
								<!-- blog grid image-->
								<div class="blog-grid-image">
									<a href="/blog/quiet-coats-for-city-walks"><img src="/assets/images/blog-img3.jpg" alt="blog img 3"></a>
								</div>
								<!-- blog grid content-->
								<div class="blog-grid-content">
									<h5 class="entry-title"><a href="/blog/quiet-coats-for-city-walks">Season edit notes</a></h5>
									<h4 class="blog-grid-comments"><span class="comments-count">4</span>Comments  -  20 Dec 2023</h4>
									<p>Short notes on coats, knits, and how to dress for a cold week in the city.</p>
								</div>

							</div>
						</div>


						<!-- column -->
						<div class="col-12">
							<div class="section-full-btn">
								<a href="/blog/grid-2" class="btn btn-dark btn-style-2">View all</a>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!--/ End Blogs and news section -->

		</main>
		<!--/ End site-primary -->
