		<main class="site-primary">
			<section class="heading-banner-section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="heading-banner-wrap">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="/">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Shop</li>
									</ol>
								</nav>
            <h1>Shop right sidebar</h1>
								<div class="heading-banner-img">
              <img src="/assets/images/heading-banner-img.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

  <section class="shop-page-grid-section style-3 section-two">
				<div class="container">
					<div class="row">
        <div class="col-12 col-md-9">
          {{ partial:shop-toolbar }}
          {{ partial:shop-grid }}
        </div>
        <div class="col-12 col-md-3">
          <div class="sidebar">
								<div class="sidebar-inner">
              <div class="filter-close d-md-none"><span class="ti-close"></span></div>
									<h3 class="sidebar-title">Filter</h3>
              {{ partial:shop-filters }}
            </div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
