<!--/ Footer -->
		<footer class="footer-style-1">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- column -->
					<div class="col-12">
						<!-- footer top -->
						<div class="footer-top">
						<!-- site-brand -->
						<div class="site-brand">
							<a href="/">{{ setting }}<img src="{{ partial:partials/media-url :file='logo' fallback='images/logo-dark.svg' }}" alt="{{ site_name ?? 'Clare' }}">{{ /setting }}</a>
						</div>
						</div>
					</div>
				</div>
				<!-- row -->
				<div class="row">
					<!-- column -->
					<div class="col-12 col-sm-6 col-md-3">
						<!-- footer column -->
						<div class="footer-column">
							<h6 class="widget-title">About Us</h6>
							<div class="widget_text">
								<p>New layers for the season: coats, knits, and trousers cut for everyday city wear.ut.</p>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-6 col-sm-6 col-md-3 ps-lg-5">
						<!-- footer column -->
						<div class="footer-column widget_nav_menu">
							<h6 class="widget-title">Feature</h6>
							<!-- footer menu -->
							<div class="footer-menu">
								<ul class="menu">
									<li><a href="/about">About Us</a></li>
									<li><a href="/privacy">Terms Condition</a></li>
									<li><a href="/shop">Best Products</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-6 col-sm-6 col-md-3 ps-lg-5">
						<!-- footer column -->
						<div class="footer-column widget_nav_menu">
							<h6 class="widget-title">General Links</h6>
							<!-- footer menu -->
							<div class="footer-menu">
								<ul class="menu">
									<li><a href="/blog">Blog</a></li>
									<li><a href="/sitemap">Site Map</a></li>
									<li><a href="#">Become Seller</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-6 col-sm-6 col-md-3 ps-lg-5">
						<!-- footer column -->
						<div class="footer-column widget_nav_menu">
							<h6 class="widget-title">Helpful</h6>
							<!-- footer menu -->
							<div class="footer-menu">
								<ul class="menu">
									<li><a href="#">Flash Sale</a></li>
									<li><a href="/faqs">FAQ</a></li>
									<li><a href="#">Support</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- footer bottom -->
				<div class="footer-bottom">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12 col-md-7">
							<!-- site-copyright -->
							<div class="site-copyright">
								<ul class="social-icon">
									<li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
								</ul>
								<p>©2023 Clare All rights reserved</p>
							</div>
						</div>
						<!-- column -->
						<div class="col-12 col-md-5">
							<!-- payments icon -->
							<div class="payments-icon">
								<img src="/assets/images/payments-icon.png" alt="payments icon">
							</div>
						</div>
					</div>
				</div>

			</div>
		</footer>
