<!--/ Footer -->
		<footer class="footer-style-2">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- column -->
					<div class="col-12 col-md-8 pe-md-4">
						<!-- newsletter form -->
						{{ partial:newsletter-form button_class="btn btn-light" button_label="Subscribe now" }}

						<!-- row -->
						<div class="row">
							<!-- column -->
							<div class="col-12 col-sm-6 col-md-4">
								<!-- footer column -->
								<div class="footer-column">
									<h6 class="widget-title">Contact</h6>
									<div class="widget_text address-widget">
										<p><a href="tel:+12345657676">+1 234 565 7676</a></p>
										<p><a href="mailto:clare@gmail.com">clare@gmail.com</a></p>
									</div>
								</div>
							</div>
							<!-- column -->
							<div class="col-6 col-sm-6 col-md-4 ps-lg-5">
								<!-- footer column -->
								<div class="footer-column widget_nav_menu">
									<h6 class="widget-title">General Links</h6>
									<!-- footer menu -->
									<div class="footer-menu">
										<ul class="menu">
											<li><a href="/blog">Blog</a></li>
											<li><a href="#">Tracking Order</a></li>
											<li><a href="#">Become Seller</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- column -->
							<div class="col-6 col-sm-6 col-md-4 ps-lg-5">
								<!-- footer column -->
								<div class="footer-column widget_nav_menu">
									<h6 class="widget-title">Helpful</h6>
									<!-- footer menu -->
									<div class="footer-menu">
										<ul class="menu">
											<li><a href="#">Flash Sale</a></li>
											<li><a href="/faqs">FAQ</a></li>
											<li><a href="#">Support</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<!-- footer bottom -->
						<div class="footer-bottom d-none d-md-block">
							<!-- row -->
							<div class="row">
								<!-- column -->
								<div class="col-12 col-md-9">
									<!-- site-copyright -->
									<div class="site-copyright">
										<p>©2023 Clare All rights reserved</p>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-3">
									<!-- social icon -->
									<ul class="social-icon">
										<li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!-- column -->
					<div class="col-12 col-md-4 ps-xl-5">
						<!-- instagram grig -->
						<div class="instagram-grid">
							<!-- instagram box -->
							<div class="instagram-box">
								<img src="/assets/images/instagram-img1.jpg" alt="instagram img 1">
								<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
							</div>
							<!-- instagram box -->
							<div class="instagram-box">
								<img src="/assets/images/instagram-img2.jpg" alt="instagram img 2">
								<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
							</div>
							<!-- instagram box -->
							<div class="instagram-box">
								<img src="/assets/images/instagram-img3.jpg" alt="instagram img 3">
								<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
							</div>
							<!-- instagram box -->
							<div class="instagram-box">
								<img src="/assets/images/instagram-img4.jpg" alt="instagram img 4">
								<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
							</div>
							<!-- instagram box -->
							<div class="instagram-box">
								<img src="/assets/images/instagram-img5.jpg" alt="instagram img 5">
								<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
							</div>
							<!-- instagram box -->
							<div class="instagram-box">
								<img src="/assets/images/instagram-img6.jpg" alt="instagram img 6">
								<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
							</div>
						</div>

						<!-- footer bottom -->
						<div class="footer-bottom d-block d-md-none">
							<!-- row -->
							<div class="row">
								<!-- column -->
								<div class="col-12 col-md-9">
									<!-- site-copyright -->
									<div class="site-copyright">
										<p>©2023 Clare All rights reserved</p>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-3">
									<!-- social icon -->
									<ul class="social-icon">
										<li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
