<!--/ Footer -->
		<footer class="footer-style-3">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- column -->
					<div class="col-12">
						<!-- footer top -->
						<div class="footer-top">
							<!-- site-brand -->
							<div class="site-brand">
								<a href="/home-v3"><img src="/assets/images/logo-light.svg" alt="logo"></a>
							</div>
							<!-- footer menu -->
							<div class="footer-menu">
								<ul class="menu">
									<li><a href="/home-v3">Home </a></li>
									<li><a href="/shop">Shop</a></li>
									<li><a href="/about">About</a></li>
									<li><a href="/blog">Blog</a></li>
									<li><a href="/contact">Contact</a></li>
									<li><a href="/account">My Account</a></li>
								</ul>
							</div>
							<!-- footer menu -->
							<div class="footer-cms-menu">
								<ul class="menu">
									<li><a href="/privacy">Privacy policy</a></li>
									<li><a href="/terms">Terms & condition</a></li>
									<li><a href="#">Track order</a></li>
								</ul>
							</div>
						</div>
						<!-- footer bottom -->
						<div class="footer-bottom">
							<!-- row -->
							<div class="row">
								<!-- column -->
								<div class="col-12 col-md-6">
									<!-- site-copyright -->
									<div class="site-copyright">
										<p>©2023 Clare All rights reserved</p>
									</div>
								</div>
								<!-- column -->
								<div class="col-12 col-md-6">
									<!-- payments icon -->
									<div class="payments-icon">
										<img src="/assets/images/payments-icon.png" alt="payments icon">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
