<!-- Header -->
		<header class="site-header header-type3">
			<!-- Topbar -->
			<div class="topbar">
				<!-- container -->
				<div class="container">
					<!-- header-wrapper -->
					<div class="header-wrapper d-inline-flex align-items-center justify-content-between">
						<!-- Top Left -->
						<div class="column top-left d-none d-md-block">
							<!-- header-message -->
							<div class="header-followers">
								<p><a href="#"><i class="fa-brands fa-instagram"></i> 399k Followers</a></p>
							</div>
						</div>
						<!--/ End Top Left -->
						<!-- Top center -->
						<div class="column top-left d-none d-md-block">
							<!-- header-message -->
							<div class="header-message">
								<p>Free Express Shipping on orders $200! | <a href="/shop">Click and Shop Now.</a></p>
							</div>
						</div>
						<!--/ End center Left -->
						<!-- Top Right -->
						<div class="column top-right">
							<!-- site-nav -->
							<nav class="site-nav horizontal">
								<ul class="menu-top-right">
									{{ partial:lang-currency }}
								</ul>
							</nav>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
			<!-- End Topbar -->

			<!-- Header-navbar -->
			<div class="header-row header-navbar">
				<!-- Search bar -->
				<div class="search-bar">
					<form action="/shop">
						<div class="form-group">
							<input type="search" name="q" placeholder="{{ trans:clare.search }}" value="{{ get:q }}">
							<button type="submit"><img src="/assets/images/search-icon.svg" alt="search icon"></button>
						</div>
					</form>
					<button class="close-search"><span class="ti-close"></span></button>
				</div>
				<!-- End Search bar -->
				<!-- container -->
				<div class="container">
					<!-- header-wrapper -->
					<div class="header-wrapper">
						<!-- column -->
						<div class="column left">
							<!-- site-brand -->
							<div class="site-brand">
								<a href="/home-v3"><img src="/assets/images/logo-dark.svg" alt="logo"></a>
							</div>
						</div>
						<!-- column -->
						<div class="column center">
							<!-- site-nav -->
							<nav class="site-nav horizontal primary-nav">
								<ul class="menu ">
									<li class="menu-item menu-item-has-children active">
										<a href="/home-v3">Home</a>
										<ul class="sub-menu">
											<li><a href="/">Home V1</a></li>
											<li><a href="/home-v2">Home V2</a></li>
											<li class="active"><a href="/home-v3">Home V3</a></li>
										</ul>
									</li>
									<li class="menu-item"><a href="/shop">Shop</a></li>
									<li class="menu-item mega-menu menu-item-has-children">
										<a href="javascript:;">Pages</a>

										<!-- Sub mega menu -->
										<ul class="sub-mega-menu">
											<li>
												<ul class="sub-menu">
													<li>
														<a href="/shop">Shop Pages</a>
														<ul>
															<li><a href="/shop/list">Shop List</a></li>
															<li><a href="/shop/right-sidebar">Shop Right Sidebar</a></li>
															<li><a href="/shop/three-column">Shop Three Column</a></li>
															<li><a href="/categories">Category</a></li>
															<li><a href="/cart">{{ trans:clare.cart }}</a></li>
														</ul>
														<a href="/products/leather-winter-coat">Product Detail Pages</a>
														<ul>
															<li><a href="/products/leather-winter-coat">Product Detail 1</a></li>
															<li><a href="/products/renew-merino-liner">Product Detail 2</a></li>
															<li><a href="/products/felted-half-zip">Product Detail 3</a></li>
														</ul>
													</li>
													<li>
														<a href="/account">Account Pages</a>
														<ul>
															<li><a href="/account">My Account</a></li>
															<li><a href="/account/profile">Account Details</a></li>
															<li><a href="/account/addresses">Addresses</a></li>
															<li><a href="/login">Login</a></li>
															<li><a href="/register">Register</a></li>
															<li><a href="/faqs">Faq</a></li>
														</ul>
													</li>
													<li>

														<a href="/blog">Blog Pages</a>
														<ul>
															<li><a href="/blog/grid-2">Blog Grid 2</a></li>
															<li><a href="/blog/classic">Blog Classic</a></li>
															<li><a href="/blog/quiet-coats-for-city-walks">Blog Detail</a></li>
															<li><a href="/blog/season-edit-notes">Blog Detail Full</a></li>
															<li><a href="/blog/how-to-layer-wool">Blog Detail Left Sidebar</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="image-sub-menu">
												<a href="/shop">Featured</a>
												<ul class="featured-gallery">
													<li><img src="/assets/images/featured-gallery-img1.jpg" alt="featured gallery img"></li>
													<li><img src="/assets/images/featured-gallery-img2.jpg" alt="featured gallery img"></li>
													<li><img src="/assets/images/featured-gallery-img3.jpg" alt="featured gallery img"></li>
													<li><img src="/assets/images/featured-gallery-img4.jpg" alt="featured gallery img"></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu-item"><a href="/about">About</a></li>
									<li class="menu-item"><a href="/blog">Blog</a></li>
									<li class="menu-item"><a href="/contact">Contact</a></li>
								</ul>
							</nav>
						</div>
						<!-- column -->
						<div class="column right">
							<!-- Header button right -->
							<div class="header-button-right">
								<!-- header-button -->
								<div class="header-button d-block d-md-none">
									<a href="javascript:;" class="toggle-menu"><img src="/assets/images/toggle-menu-icon.svg" alt="toggle menu icon"></a>
								</div>
								<div class="header-button">
									<a href="javascript:;" class="search-icon"><img src="/assets/images/search-icon.svg" alt="search icon"></a>
								</div>
								<div class="header-button">
									<a href="{{ if logged_in }}/account{{ else }}/login{{ /if }}" class="user-icon"><img src="/assets/images/user-icon.svg" alt="user icon"></a>
								</div>
								<div class="header-button">
									<a href="javascript:;" class="cart-icon"><img src="/assets/images/cart-icon.svg" alt="cart icon"> <span class="count">{{ clare_cart_count }}</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header-navbar -->
			{{ partial:mini-cart }}

			<!-- mobile menu -->
			<div class="mobile-menu">
				<div class="mobile-menu-close"><a href="javascript:;"><i class="fa-regular fa-xmark"></i></a></div>
				<!-- site-nav -->
				<nav class="site-nav horizontal primary-nav">
					<ul class="menu ">
						<li class="menu-item menu-item-has-children">
							<a href="/">Home</a>
							<ul class="sub-menu">
								<li><a href="/">Home V1</a></li>
								<li><a href="/home-v2">Home V2</a></li>
								<li><a href="/home-v3">Home V3</a></li>
							</ul>
						</li>
						<li class="menu-item"><a href="/shop">Shop</a></li>
						<li class="menu-item mega-menu menu-item-has-children">
							<a href="javascript:;">Pages</a>

							<!-- Sub mega menu -->
							<ul class="sub-mega-menu">
								<li>
									<ul class="sub-menu">
										<li>
											<a href="/categories/men">Man</a>
											<ul>
												<li><a href="/categories/tops">T-shirt</a></li>
												<li><a href="/categories/tops">Shirt</a></li>
												<li><a href="/categories/shoes">Shoes</a></li>
											</ul>
											<a href="/categories/shoes">Shoe</a>
											<ul>
												<li><a href="/categories/shoes">Casual</a></li>
												<li><a href="/categories/shoes">Lofer</a></li>
											</ul>
										</li>
										<li>
											<a href="/categories/women">Woman</a>
											<ul>
												<li><a href="/categories/denims">Jeans</a></li>
												<li><a href="/categories/tops">T-shirts</a></li>
												<li><a href="/categories/tops">Shirts</a></li>
												<li><a href="/categories/tops">Tops</a></li>
												<li><a href="/categories/coats">Coats</a></li>
												<li><a href="/categories/sweaters">Sweater</a></li>
											</ul>
										</li>
										<li>
											<a href="/categories/accessories">Accesories</a>
											<ul>
												<li><a href="/categories/bags">Handbag</a></li>
												<li><a href="/categories/shoes">Shoes</a></li>
												<li><a href="/categories/accessories">Wallets</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="image-sub-menu">
									<a href="/shop">Featured</a>
									<ul class="featured-gallery">
										<li><img src="/assets/images/featured-gallery-img1.jpg" alt="featured gallery img"></li>
										<li><img src="/assets/images/featured-gallery-img2.jpg" alt="featured gallery img"></li>
										<li><img src="/assets/images/featured-gallery-img3.jpg" alt="featured gallery img"></li>
										<li><img src="/assets/images/featured-gallery-img4.jpg" alt="featured gallery img"></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item"><a href="/about">About</a></li>
						<li class="menu-item"><a href="/blog">Blog</a></li>
						<li class="menu-item"><a href="/contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<!--/ End Header -->
