<!-- Header -->
		<header class="site-header header-type1">
			<!-- Topbar -->
			<div class="topbar">
				<!-- container -->
				<div class="container">
					<!-- header-wrapper -->
					<div class="header-wrapper d-inline-flex align-items-center justify-content-between">
						<!-- Top Left -->
						<div class="column top-left">
							<!-- header-message -->
							<div class="header-message">
								<p>Free Express Shipping on orders $200! <a href="/shop">Click and Shop Now.</a></p>
							</div>
						</div>
						<!--/ End Top Left -->
						<!-- Top Right -->
						<div class="column top-right">
							<!-- site-nav -->
							<nav class="site-nav horizontal">
								<ul class="menu-top-right">
									{{ partial:lang-currency }}
								</ul>
							</nav>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
			<!-- End Topbar -->

			<!-- start header-main -->
			<div class="header-main">
				<!-- Search bar -->
				<div class="search-bar">
					<form action="/shop">
						<div class="form-group">
							<input type="search" name="q" placeholder="{{ trans:clare.search }}" value="{{ get:q }}">
							<button type="submit"><img src="/assets/images/search-icon.svg" alt="search icon"></button>
						</div>
					</form>
					<button class="close-search"><span class="ti-close"></span></button>
				</div>
				<!-- End Search bar -->
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row align-items-center">
						<!-- column -->
						<div class="col-6 col-md-2 col-lg-3">
							<!-- site-brand -->
							<div class="site-brand">
								<a href="/">{{ setting }}<img src="{{ partial:partials/media-url :file='logo' fallback='images/logo-dark.svg' }}" alt="{{ site_name ?? 'Clare' }}">{{ /setting }}</a>
							</div>
						</div>
						<!-- column -->
						<div class="col-6 col-md-8 col-lg-6 d-none d-md-block">
							<!-- header-search-form -->
							<div class="header-search-form">
								<!-- search-form -->
								{{ partial:search-form }}
							</div>
						</div>
						<!-- column -->
						<div class="col-6 col-md-2 col-lg-3">
							<!-- Header button right -->
							<div class="header-button-right">
								<!-- header-button -->
								<div class="header-button d-block d-md-none">
									<a href="javascript:;" class="toggle-menu"><img src="/assets/images/toggle-menu-icon.svg" alt="toggle menu icon"></a>
								</div>
								<div class="header-button d-block d-md-none">
									<a href="javascript:;" class="search-icon"><img src="/assets/images/search-icon.svg" alt="search icon"></a>
								</div>
								<div class="header-button">
									<a href="{{ if logged_in }}/account{{ else }}/login{{ /if }}" class="user-icon"><img src="/assets/images/user-icon.svg" alt="user icon"></a>
								</div>
								<div class="header-button">
									<a href="javascript:;" class="cart-icon"><img src="/assets/images/cart-icon.svg" alt="cart icon"> <span class="count">{{ clare_cart_count }}</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end header-main -->

			{{ partial:mini-cart }}

			<!-- Header-navbar -->
			<div class="header-row header-navbar">

				<!-- container -->
				<div class="container">
					<!-- header-wrapper -->
					<div class="header-wrapper">
						<!-- column -->
						<div class="column left">
							<!-- site-all-categories -->
							<div class="all-categories">
								<!-- dropdown-menu -->
								<a href="javascript:;" class="dropdown-toggle">
									<div class="departments-toggle"><i class="ti-menu-alt"></i></div>
									<div class="departments-text">All Categories</div>									
									<div class="departments-arrow"><i class="ti-angle-down"></i></div>
								</a>
								<!-- dropdown-menu -->
								<div class="departments-menu dropdown-menu collapse">
									<ul class="menu ">
										{{ taxonomy:product_category }}
										<li><a href="/categories/{{ slug }}">{{ title }}</a></li>
										{{ /taxonomy:product_category }}
									</ul>
								</div>
							</div>

							<!-- site-nav -->
							{{ partial:nav-primary }}
						</div>
						<!-- column -->
						<div class="column right">
							<!-- Shop now button -->
							<div class="shop-now-btn">
								<a href="/shop" class="btn btn-light">{{ trans:clare.shop_now }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header-navbar -->

			<!-- mobile menu -->
			<div class="mobile-menu">
				<div class="mobile-menu-close"><a href="javascript:;"><i class="fa-regular fa-xmark"></i></a></div>
				{{ partial:nav-primary }}
			</div>
		</header>
		<!--/ End Header -->
