<!-- Header -->
		<header class="site-header header-type2">
			<!-- Topbar -->
			<div class="topbar">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- header-message -->
							<div class="header-message">
								<p>Refer a friend & get <span>$20</span> in credits each <span>⚡</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->

			<!-- Header-navbar -->
			<div class="header-row header-navbar">
				<!-- Search bar -->
				<div class="search-bar">
					<form action="/shop">
						<div class="form-group">
							<input type="search" name="q" placeholder="{{ trans:clare.search }}" value="{{ get:q }}">
							<button type="submit"><img src="/assets/images/search-icon.svg" alt="search icon"></button>
						</div>
					</form>
					<button class="close-search"><span class="ti-close"></span></button>
				</div>
				<!-- End Search bar -->
				<!-- container -->
				<div class="container">
					<!-- header-wrapper -->
					<div class="header-wrapper">
						<!-- column -->
						<div class="column left">
							<!-- site-brand -->
							<div class="site-brand">
								<a href="/home-v2">{{ setting }}<img src="{{ partial:partials/media-url :file='logo' fallback='images/logo-dark.svg' }}" alt="{{ site_name ?? 'Clare' }}">{{ /setting }}</a>
							</div>
							<!-- site-nav -->
							{{ partial:nav-primary }}
						</div>
						<!-- column -->
						<div class="column right">
							<nav class="site-nav horizontal d-none d-lg-block me-3">
								<ul class="menu-top-right">
									{{ partial:lang-currency }}
								</ul>
							</nav>
							<!-- Header button right -->
							<div class="header-button-right">
								<!-- header-button -->
								<div class="header-button d-block d-md-none">
									<a href="javascript:;" class="toggle-menu"><img src="/assets/images/toggle-menu-icon.svg" alt="toggle menu icon"></a>
								</div>
								<div class="header-button">
									<a href="javascript:;" class="search-icon"><img src="/assets/images/search-icon.svg" alt="search icon"></a>
								</div>
								<div class="header-button">
									<a href="{{ if logged_in }}/account{{ else }}/login{{ /if }}" class="user-icon"><img src="/assets/images/user-icon.svg" alt="user icon"></a>
								</div>
								<div class="header-button">
									<a href="javascript:;" class="cart-icon"><img src="/assets/images/cart-icon.svg" alt="cart icon"> <span class="count">{{ clare_cart_count }}</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header-navbar -->

			{{ partial:mini-cart }}

			<!-- mobile menu -->
			<div class="mobile-menu">
				<div class="mobile-menu-close"><a href="javascript:;"><i class="fa-regular fa-xmark"></i></a></div>
				{{ partial:nav-primary }}
			</div>
		</header>
		<!--/ End Header -->
