<section class="heading-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading-banner-wrap">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ banner_title ?? title }}</li>
            </ol>
          </nav>
          <h1>{{ banner_title ?? title }}</h1>
          <div class="heading-banner-img">
            <img src="/assets/images/heading-banner-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
