<!-- site-primary -->
		<main class="site-primary">

			<!-- heading banner section -->
			<section class="heading-banner-section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- column -->
						<div class="col-12">
							<!-- heading banner wrap-->
							<div class="heading-banner-wrap">
								<!-- breadcrumb -->
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="/">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Blog</li>
									</ol>
								</nav>
								<!-- page title -->
								<h1>Blog</h1>

								<!-- heading banner img -->
								<div class="heading-banner-img">
									<img src="/assets/images/heading-banner-img.png" alt="heading banner img">
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!--/ End Hero slider section -->

			<!-- Blog single page section -->
			<section class="blog-single-page section-two">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">

						<!-- column -->
						<div class="col-12 col-lg-8">
							<!-- blog-posts -->
							<article class="post-article">
								<figure class="entry-thumbnail">
									{{ if image }}<img src="{{ image:url }}" alt="{{ title }}">
									{{ else }}<img src="/assets/images/blog-post-img1.jpg" alt="{{ title }}">{{ /if }}
								</figure>

								<!-- blog entry wrapper -->
								<div class="blog-entry-wrapper">
									<!--  blog entry meta --> 
									<div class="entry-meta top">
										<!-- entry admin -->
										<div class="entry-admin">
											by <a href="#" class="link">John Doe</a>
										</div>
										<!-- entry date -->
										<div class="entry-date">Nov 22, 2018</div>
										<!-- entry Comments -->
										<div class="entry-comments">2 Comments</div>
									</div>
									<!-- entry title -->
									<h2 class="entry-title">{{ title }}</h2>
									<!-- entry content -->
									<div class="entry-content">
										<p>A longer coat changes how you walk through a cold street. The hem blocks wind, the collar sits close, and you stop thinking about the weather. That is the Clare idea: clothes that get out of the way.</p>
										<p>We pick cloth first, then the shape. Wool that does not itch, cotton that does not cling, and leather that softens instead of cracking. The catalog is small on purpose so each piece earns its place.</p>

										<!-- row -->
										<div class="row mt-md-5 mb-md-5">
											<!-- column -->
											<div class="col-12 col-md-6">
												<img src="/assets/images/blog-post-img2.jpg" alt="blog post img">
											</div>
											<!-- column -->
											<div class="col-12 col-md-6 mt-3">
												<h5>How we edit the catalog</h5>
												<ul>
													<li>A clean everyday piece with a quiet colour and a fabric that holds up through the week.</li>
													<li>Start with a coat, add a knit, then one bag that takes a laptop and a book.</li>
													<li>Keep colour quiet. Navy, stone, black, and rust last longer in a wardrobe than a print you tire of in a month.</li>
												</ul>
											</div>
										</div>

										<blockquote class="wp-block-quote">
											<img src="/assets/images/quote-bubble-icon.svg" alt="blockquote icon">
											<p>“ A good coat should disappear once it is on. You notice the weather less, and you stop adjusting the collar.”</p>
										</blockquote>

										<p>If you are unsure about size, send an inquiry with your usual fit. We reply with measurements and a close match from the catalog.</p>

										<!-- row -->
										<div class="row mt-md-5 mb-md-5">
											<!-- column -->
											<div class="col-12 col-md-8">
												<div class="blog-gallery-img"><img src="/assets/images/blog-post-img3.jpg" alt="blog post img"></div>
											</div>
											<!-- column -->
											<div class="col-12 col-md-4">
												<div class="blog-gallery-img"><img src="/assets/images/blog-post-img4.jpg" alt="blog post img"></div>
											</div>
										</div>

										<p>When the week is busy, wear the same coat, swap the knit, and keep the bag light. That is how most of our catalog is meant to be used: fewer pieces, worn more often.</p>

										<!-- post footer tag-->
										<div class="post-footer-tag">
											<!-- post footer tag -->
											<div class="post-tag">
												<a href="/blog">Advices</a>
												<a href="/blog">Business</a>
												<a href="/blog">Strategy</a>
											</div>
											<!-- post footer social -->
											<div class="post-social">
												<h6>Share this post:</h6>
												<ul>
													<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
													<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa-brands fa-medium"></i></a></li>
													<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
												</ul>
											</div>
										</div>

									</div>
								</div>
							</article>
							<!-- Comments -->
							<div class="entry-footer">
								<!-- post comments -->
								<div class="post-comments">
									<h2 class="entry-title">
										Comments
									</h2>
									<!-- comment list -->
									<ul class="comment-list">
										<li class="comment">
											<article class="comment-body">
												<div class="comment-user-info">
													<!-- comment-vcard -->
													<div class="vcard">
														<img src="/assets/images/comment-user-img-1.jpg" alt="comment user img">
													</div>
													<!-- comment-author -->
													<div class="comment-author">
														<h5>Tonko Mory</h5>
														<h6>March 2022</h6>
													</div>
												</div>
												<!-- comment-content -->
												<div class="comment-right-info">
													<p>Nice two level apartment in great London location. Located in quiet small street, but just 50 meters from main street and bus stop. Tube station is short walk, just like two grocery stores.</p>

													<!-- reply button-->
													<div class="reply">
														<a href="#" class="active"><i class="fa-solid fa-thumbs-up"></i> Helpful</a>
														<a href="#"><i class="fa-solid fa-thumbs-down"></i> Not Helpful</a>
													</div>
												</div>
											</article>
										</li>
										<li class="comment">
											<article class="comment-body">
												<div class="comment-user-info">
													<!-- comment-vcard -->
													<div class="vcard">
														<img src="/assets/images/comment-user-img-2.jpg" alt="comment user img">
													</div>
													<!-- comment-author -->
													<div class="comment-author">
														<h5>Christi</h5>
														<h6>Nov 2022</h6>
													</div>
												</div>
												<!-- comment-content -->
												<div class="comment-right-info">
													<p>Nice two level apartment in great London location. Located in quiet small street, but just 50 meters from main street and bus stop. Tube station is short walk, just like two grocery stores.</p>

													<!-- reply button-->
													<div class="reply">
														<a href="#" class="active"><i class="fa-solid fa-thumbs-up"></i> Helpful</a>
														<a href="#"><i class="fa-solid fa-thumbs-down"></i> Not Helpful</a>
													</div>
												</div>
											</article>
										</li>
									</ul>
								</div>
								<!-- post comments form -->
								<div class="post-comments-form">
									<h2 class="entry-title">Leave a comment</h2>

									<form class="all-form">
										<div class="form-row">
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Full name*">
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<input type="Email" class="form-control" placeholder="Email*">
												</div>
											</div>
										</div>
										<div class="form-group">
											<textarea class="form-control" placeholder="Write your Comment"></textarea>
										</div>
										<button type="submit" class="btn btn-dark btn-style-2">Submit</button>
									</form>
								</div>

								<!-- Related Blogs -->
								<div class="related-blogs">
									<h2 class="entry-title">Related Blogs</h2>
									<div class="row">
										{{ collection:blogs limit="3" sort="random" as="related" }}
										{{ related }}
										<div class="col-12 col-md-4">
											<div class="blog-grid-style-3">
												<div class="blog-grid-image">
													<a href="{{ url }}">{{ if image }}<img src="{{ image:url }}" alt="{{ title }}">{{ else }}<img src="/assets/images/blog-img1.jpg" alt="{{ title }}">{{ /if }}</a>
												</div>
												<div class="blog-grid-content">
													<h6>{{ blog_category }}{{ title }}{{ /blog_category }} <span>{{ date format="jS M Y" }}</span></h6>
													<h5 class="entry-title"><a href="{{ url }}">{{ title }}</a></h5>
													<p>{{ excerpt }}</p>
													<a href="{{ url }}" class="btn link">Read more <span class="ti-arrow-right"></span></a>
												</div>
											</div>
										</div>
										{{ /related }}
										{{ /collection:blogs }}
									</div>
								</div>

							</div>
						</div>
						<!-- column -->
						<div class="col-12 col-lg-4 d-none d-md-block">
							<!-- Left sidebar -->
							<div class="sidebar blog-sidebar">
								<!-- sidebar inner -->
								<div class="sidebar-inner">
									<!-- widget -->
									<div class="widget widget-search">
										<!-- Widget Search  -->
										<div class="widget-search-form">
											{{ partial:blog-search-form }}
										</div>
									</div>
									<!-- widget -->
									<div class="widget widget-popular-posts">
										<h4 class="widget-title">Popular Posts</h4>
										{{ partial:popular-posts }}
									</div>

									<!-- widget -->
									<div class="widget widget-categories">
										<h4 class="widget-title">Categories</h4>
										<!-- Categories list -->
										{{ partial:blog-categories }}
									</div>

									<!-- widget -->
									<div class="widget widget-popular-tags">
										<h4 class="widget-title">Popular Tags</h4>
										<!-- Popular Tags list -->
										<div class="popular-tags-list">
											<ul>
												<li><a href="/blog">Coats</a> </li>
												<li><a href="/blog">Knits</a> </li>
												<li><a href="/blog">Wool</a> </li>
												<li><a href="/blog">Care</a> </li>
												<li><a href="/blog">Travel</a> </li>
												<li><a href="/blog">Shoes</a> </li>
												<li><a href="/blog">Bags</a> </li>
												<li><a href="/blog">Winter</a> </li>
												<li><a href="/blog">Layering</a> </li>
												<li><a href="/blog">Style</a> </li>
											</ul>
										</div>
									</div>

									<!-- widget -->
									<div class="widget widget-instagram">
										<h4 class="widget-title">Instagram</h4>
										<!-- Instagram list -->
										<div class="instagram-list">
											<!-- instagram box -->
											<div class="instagram-box">
												<img src="/assets/images/instagram-img1.jpg" alt="instagram img 1">
												<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
											</div>
											<!-- instagram box -->
											<div class="instagram-box">
												<img src="/assets/images/instagram-img2.jpg" alt="instagram img 2">
												<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
											</div>
											<!-- instagram box -->
											<div class="instagram-box">
												<img src="/assets/images/instagram-img3.jpg" alt="instagram img 3">
												<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
											</div>
											<!-- instagram box -->
											<div class="instagram-box">
												<img src="/assets/images/instagram-img4.jpg" alt="instagram img 4">
												<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
											</div>
											<!-- instagram box -->
											<div class="instagram-box">
												<img src="/assets/images/instagram-img5.jpg" alt="instagram img 5">
												<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
											</div>
											<!-- instagram box -->
											<div class="instagram-box">
												<img src="/assets/images/instagram-img6.jpg" alt="instagram img 6">
												<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
											</div>
											<!-- instagram box -->
											<div class="instagram-box">
												<img src="/assets/images/instagram-img6.jpg" alt="instagram img 6">
												<div class="instagram-overlay"><a href="#"><span class="ti-instagram"></span></a></div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ Blog single page section -->

		</main>
		<!--/ End site-primary -->
