{{ if style == 'grid' or style == 'grid_two' or style == 'classic' }}
<!-- Blog listing section -->
<section class="blog-page-grid section-two">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="row">
					{{ if get:q }}
					<div class="col-12 mb-3"><p class="shop-result-count">{{ clare_blogs:count }} posts for "{{ get:q }}"</p></div>
					{{ /if }}
					{{ clare_blogs paginate="6" }}
					<div class="col-12 {{ if style == 'classic' }}{{ else }}col-md-6{{ /if }}">
						{{ if style == 'grid_two' }}
						<div class="blog-grid-style-4">
							<div class="blog-grid-image">
								<a href="{{ url }}">{{ if image }}<img src="{{ image:url }}" alt="{{ title }}">{{ else }}<img src="/assets/images/blog-img1.jpg" alt="{{ title }}">{{ /if }}</a>
							</div>
							<div class="blog-grid-content">
								<h4 class="blog-grid-comments">{{ date format="M j, Y" }}</h4>
								<h5 class="entry-title"><a href="{{ url }}">{{ title }}</a></h5>
								<div class="entry-category">{{ blog_category }}in {{ title }}{{ /blog_category }}</div>
							</div>
						</div>
						{{ elseif style == 'classic' }}
						<div class="blog-classic">
							<div class="blog-classic-image">
								<a href="{{ url }}">{{ if image }}<img src="{{ image:url }}" alt="{{ title }}">{{ else }}<img src="/assets/images/blog-img1.jpg" alt="{{ title }}">{{ /if }}</a>
							</div>
							<div class="blog-classic-content">
								<h6>{{ blog_category }}{{ title }}{{ /blog_category }} <span>{{ date format="jS M Y" }}</span></h6>
								<h5 class="entry-title"><a href="{{ url }}">{{ title }}</a></h5>
								<p>{{ excerpt }}</p>
								<a href="{{ url }}" class="btn link">Read more <span class="ti-arrow-right"></span></a>
							</div>
						</div>
						{{ else }}
						<div class="blog-grid-style-3">
							<div class="blog-grid-image">
								<a href="{{ url }}">{{ if image }}<img src="{{ image:url }}" alt="{{ title }}">{{ else }}<img src="/assets/images/blog-img1.jpg" alt="{{ title }}">{{ /if }}</a>
							</div>
							<div class="blog-grid-content">
								<h6>{{ blog_category }}{{ title }}{{ /blog_category }} <span>{{ date format="jS M Y" }}</span></h6>
								<h5 class="entry-title"><a href="{{ url }}">{{ title }}</a></h5>
								<p>{{ excerpt }}</p>
								<a href="{{ url }}" class="btn link">Read more <span class="ti-arrow-right"></span></a>
							</div>
						</div>
						{{ /if }}
					</div>
					{{ /clare_blogs }}
					{{ if {clare_blogs:count} == 0 }}<div class="col-12">{{ partial:blog-empty }}</div>{{ /if }}
					<div class="col-12">{{ partial:blog-pagination }}</div>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="sidebar blog-sidebar">
					<div class="sidebar-inner">
						<div class="widget widget-search">
							<div class="widget-search-form">{{ partial:blog-search-form }}</div>
						</div>
						<div class="widget widget-popular-posts">
							<h4 class="widget-title">Popular Posts</h4>
							{{ partial:popular-posts }}
						</div>
						<div class="widget widget-categories">
							<h4 class="widget-title">Categories</h4>
							{{ partial:blog-categories }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Blog listing section -->

{{ elseif style == 'home_two' }}
<!-- Blogs and news section (Home V2 style) -->
<section class="blogs-and-news-section section-two">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="module-header header-style-2">
					<h2 class="entry-title">{{ heading ?? 'Blogs and news' }}</h2>
				</div>
			</div>
		</div>
		<div class="row">
			{{ clare_blogs paginate="{{ limit ?? 3 }}" }}
			<div class="col-12 col-md-4">
				<div class="blog-grid">
					<div class="blog-grid-image"><a href="{{ url }}">{{ if image }}<img src="{{ image:url }}" alt="{{ title }}">{{ else }}<img src="/assets/images/blog-img1.jpg" alt="{{ title }}">{{ /if }}</a></div>
					<div class="blog-grid-content">
						<h5 class="entry-title"><a href="{{ url }}">{{ title }}</a></h5>
						<h4 class="blog-grid-comments"><span class="comments-count">0</span>Comments  -  {{ date format="j M Y" }}</h4>
						<p>{{ excerpt }}</p>
					</div>
				</div>
			</div>
			{{ /clare_blogs }}
			<div class="col-12">
				<div class="section-full-btn">
					<a href="/blog" class="btn btn-dark btn-style-2">View all</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Blogs and news section -->

{{ elseif style == 'home_three' }}
<!-- Latest blog and news section (Home V3 style) -->
<section class="blogs-and-news-section section-two">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="module-header style-3">
					<div class="module-header-left">
						<h2 class="entry-title">{{ heading ?? 'Latest blog and news' }}</h2>
						{{ if kicker }}<p>{{ kicker }}</p>{{ /if }}
					</div>
					<div class="entry-header-right">
						<a href="/blog" class="btn btn-dark btn-style-2">View all</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			{{ clare_blogs paginate="{{ limit ?? 2 }}" }}
			<div class="col-12 col-md-6">
				<div class="blog-grid-style-2">
					<div class="blog-grid-image">
						<a href="{{ url }}">{{ if image }}<img src="{{ image:url }}" alt="{{ title }}">{{ else }}<img src="/assets/images/blog-img4.jpg" alt="{{ title }}">{{ /if }}</a>
						<div class="blog-date">{{ date format="j M Y" }}</div>
					</div>
					<div class="blog-grid-content">
						<h5 class="entry-title"><a href="{{ url }}">{{ title }}</a></h5>
						<p>{{ excerpt }}</p>
					</div>
				</div>
			</div>
			{{ /clare_blogs }}
		</div>
	</div>
</section>
<!--/ End Latest blog and news section -->

{{ else }}
<!-- Blogs and news section (Home V1 style) -->
<section class="blogs-and-news-section section-all">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="module-header">
					<h2 class="entry-title">{{ heading ?? 'Blogs and news' }}</h2>
				</div>
			</div>
		</div>
		<div class="row">
			{{ clare_blogs paginate="{{ limit ?? 3 }}" }}
			<div class="col-12 col-md-4">
				<div class="blog-grid">
					<div class="blog-grid-image"><a href="{{ url }}">{{ if image }}<img src="{{ image:url }}" alt="{{ title }}">{{ else }}<img src="/assets/images/blog-img1.jpg" alt="{{ title }}">{{ /if }}</a></div>
					<div class="blog-grid-content">
						<h5 class="entry-title"><a href="{{ url }}">{{ title }}</a></h5>
						<h4 class="blog-grid-comments"><span class="comments-count">0</span>Comments  -  {{ date format="j M Y" }}</h4>
						<p>{{ excerpt }}</p>
					</div>
				</div>
			</div>
			{{ /clare_blogs }}
		</div>
	</div>
</section>
<!--/ End Blogs and news section -->
{{ /if }}
