<!-- Categories grid section -->
<section class="popular-categories-section section-all">
	<div class="container">
		{{ if heading }}
		<div class="module-header">
			<h2 class="entry-title">{{ heading }}</h2>
		</div>
		{{ /if }}
		<div class="popular-categories-grid">
			{{ taxonomy:product_category }}
			<div class="popular-categories">
				<div class="popular-categories-img">
					<a href="/categories/{{ slug }}">
						{{ if image }}<img src="{{ image:url }}" alt="{{ title }}">
						{{ else }}<img src="/assets/images/categories-img1.jpg" alt="{{ title }}">{{ /if }}
					</a>
				</div>
				<div class="popular-categories-title">
					<h6><a href="/categories/{{ slug }}">{{ title }}</a></h6>
				</div>
			</div>
			{{ /taxonomy:product_category }}
		</div>
	</div>
</section>
<!--/ End Categories grid section -->
