<!-- Site map page section -->
<div class="site-map-page section-two">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="site-map-list">
					<ul>
						<li><a href="/">Home</a>
							<ul>
								<li><a href="/">Home V1</a></li>
								<li><a href="/home-v2">Home V2</a></li>
								<li><a href="/home-v3">Home V3</a></li>
							</ul>
						</li>
						<li><a href="/about">About</a></li>
						<li><a href="/shop">Shop</a>
							<ul>
								<li><a href="/shop/list">Shop List</a></li>
								<li><a href="/shop/right-sidebar">Shop Right Sidebar</a></li>
								<li><a href="/shop/three-column">Shop Three Column</a></li>
								<li><a href="/categories">Categories</a></li>
								<li><a href="/cart">Cart</a></li>
							</ul>
						</li>
						<li><a href="/blog">Blog</a>
							<ul>
								<li><a href="/blog/grid-2">Blog Grid 2</a></li>
								<li><a href="/blog/classic">Blog Classic</a></li>
								<li><a href="/blog/quiet-coats-for-city-walks">Blog Detail</a></li>
							</ul>
						</li>
						<li><a href="/account">My Account</a>
							<ul>
								<li><a href="/account">Dashboard</a></li>
								<li><a href="/account/profile">Account Details</a></li>
								<li><a href="/account/addresses">Addresses</a></li>
							</ul>
						</li>
						<li><a href="/login">Sign in</a></li>
						<li><a href="/register">Sign up</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/faqs">FAQ</a></li>
						<li><a href="/privacy">Privacy Policy</a></li>
						<li><a href="/terms">Terms &amp; Conditions</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ End Site map page section -->
